# Data Science Tools and Ecosystem

## in this notebook, Data Science Tools and Ecosystem are summarized.

### <b> Objectives </b>

<ul>
    <li> Some of the Popular languages that Data Scientists use</li>
    <li> Some of the Commonly used Libraries</li>
    <li> examples of arithmetic expressions in Python</li>

### Some of the popular languages that Data Scientists use are
1. Python 
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Numphy
3. Pandas

|  Data Science Tools | 
|---------------------|
|  Jupyter Notebooks  |
|      R Studio       |
|      Github         |

### below are a few examples of evaluation arithmetic expressions in Python

In [1]:
'This a simple arithmetic expression to mutiply then add integers'
(3*4)+5

17

In [2]:
'This will convert 200 minutes to hours by diving by 60'
200/60

3.3333333333333335

## Author
Kyle Smith